<a href="https://colab.research.google.com/github/bigluck07/Code_States_Project/blob/main/n213a_ridge_regression%5B%EC%9D%B4%EB%8C%80%EC%9A%B4%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 3*

# üìù Assignment
---

# Ridge Regression

Ïù¥Î≤à Î™®ÎìàÏóêÏÑú Î∞∞Ïö¥ ÎÇ¥Ïö©ÏùÑ Ï°∞Í∏à Îã§Î•∏ Îç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ Î≥µÏäµÌï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú Ï†ïÎ≥¥Îäî Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞Ìï¥ Ï£ºÏÑ∏Ïöî.

- [Melbourne Housing Market]('https://www.kaggle.com/anthonypino/melbourne-housing-market')

Ïù¥Î≤àÏóêÎèÑ Price Î≥ÄÏàòÎ•º targetÏúºÎ°ú Ï†ïÌïòÍ≥† Î™®Îç∏ÏùÑ Íµ¨ÏÑ±Ìï¥ Î¥ÖÏãúÎã§.

In [ ]:
import sys
!{sys.executable} -m pip install -U pandas-profiling[notebook]
!jupyter nbextension enable --py widgetsnbextension

In [ ]:
!pip install pandas_profiling --upgrade

In [ ]:
pip install --upgrade scikit-learn

In [ ]:
pip install category_encoders

In [74]:
!pip list | grep scikit-learn

scikit-learn                  0.24.1

In [6]:
import pandas as pd
from pandas_profiling import ProfileReport # Î≥ÄÏàòÎì§Ïóê ÎåÄÌïú ÌÜµÍ≥ÑÎüâÏùÑ ÌïúÎààÏóê Î≥¥Í∏∞ ÏâΩÍ≤å Î¶¨Ìè¨ÌåÖ Ìï¥Ï§å
from sklearn.model_selection import train_test_split

# get data
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/melbourne_house_prices/MELBOURNE_HOUSE_PRICES_LESS.csv')

# drop high cardinality cols
df.drop(columns=['Suburb','Address','SellerG','Date'], inplace=True)

# drop na values in Price
df.dropna(subset=['Price'], inplace=True)

# drop duplicated rows
df.drop_duplicates(inplace=True)

In [7]:
df.head()

   Rooms Type      Price  ... Propertycount  Distance                 CouncilArea
0      3    h  1490000.0  ...          4019       3.0          Yarra City Council
1      3    h  1220000.0  ...          4019       3.0          Yarra City Council
2      3    h  1420000.0  ...          4019       3.0          Yarra City Council
3      3    h  1515000.0  ...          1543       7.5  Moonee Valley City Council
4      2    h   670000.0  ...          3464      10.4  Moonee Valley City Council

[5 rows x 9 columns]

### 1) Îç∞Ïù¥ÌÑ∞Ïùò ÌäπÏÑ±ÏùÑ ÌååÏïÖÌïòÍ∏∞ ÏúÑÌï¥ pandas_profilingÏùÑ ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **Î≤îÏ£ºÌòï ÌäπÏÑ±ÏúºÎ°ú ÏõêÌï´Ïù∏ÏΩîÎî©Ïù¥ Íº≠ ÌïÑÏöîÌïú ÌäπÏÑ±Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
profile = ProfileReport(df, minimal=True)
profile

Ïπ¥ÌÖåÍ≥†Î¶¨ Îç∞Ïù¥ÌÑ∞ 4Í∞ú

### 2) Î≤îÏ£ºÌòï Î≥ÄÏàòÎì§Ïóê ÎåÄÌï¥ one-hot encoding(category_encoders)ÏùÑ ÏàòÌñâÌïòÍ≥† Îç∞Ïù¥ÌÑ∞Î•º train/test ÏÖãÏúºÎ°ú Î¨¥ÏûëÏúÑÎ°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.(train/test = 80%/20%)
- [category_encoders.one_hot.OneHotEncoder](https://contrib.scikit-learn.org/category_encoders/onehot.html#one-hot), ÌååÎùºÎØ∏ÌÑ∞Îäî use_cat_names = True ÏÇ¨Ïö©
- Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨Îäî [sklearn.model_selection.train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html?highlight=train%20test%20split#sklearn-model-selection-train-test-split) ÏùÑ ÏÇ¨Ïö©Ìï¥ Ï£ºÏÑ∏Ïöî. ÏÇ¨Ïö©Ìï¥Ïïº ÌïòÎäî ÌååÎùºÎØ∏ÌÑ∞Îäî test_size, train_size, random_state=2 ÏûÖÎãàÎã§. ÎÇòÎ®∏ÏßÄÎäî default ÏÇ¨Ïö©Ìï©ÎãàÎã§.
- **Î∂ÑÎ¶¨Îêú ÌïôÏäµÎç∞Ïù¥ÌÑ∞Ïùò Ï≤´Î≤àÏß∏ ÏÉòÌîåÏùò Ïù∏Îç±Ïä§ Í∞íÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [62]:
from category_encoders import OneHotEncoder

## ÏõêÌï´ Ïù∏ÏΩîÎî©
encoder = OneHotEncoder(use_cat_names = True)
# Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Ïùò Ïù∏ÏΩîÎî© Ïó¨Í∏∞ÏÑúÎäî type, methodm regionname, councilarea
df_OneHot = encoder.fit_transform(df) 
df_OneHot.shape

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

(42515, 55)

In [63]:
# ÌäπÏÑ± Í∞Ñ ÎèÖÎ¶ΩÏÑ±ÏùÑ ÏúÑÌïú Î∂àÌïÑÏöî ÌîºÏ≥ê Ï†úÍ±∞
df_OneHot = feature.drop(['Type_t', 'Method_SA','Regionname_Western Victoria','CouncilArea_Murrindindi Shire Council'],axis=1)
df_OneHot.shape

(42515, 51)

In [66]:
# train, test Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨ 8:2

train, test = train_test_split(df_OneHot, test_size = 0.2, random_state=2)

train.shape , test.shape

((34012, 51), (8503, 51))

In [67]:
# target Í∞í Ï†úÏô∏ - Ìä∏Î†àÏù¥
X_train = train.drop(columns = 'Price')
y_train = train['Price']
X_test = test.drop(columns = 'Price')
y_test = test['Price']
train.shape , test.shape

((34012, 51), (8503, 51))

In [68]:
train.head() # Ï≤´Î≤àÏß∏ Ïù∏Îç±Ïä§ = 602

       Rooms  ...  CouncilArea_Moorabool Shire Council
602        4  ...                                    0
40851      5  ...                                    0
57233      4  ...                                    0
8816       4  ...                                    0
3481       3  ...                                    0

[5 rows x 51 columns]

In [69]:
test.head()

       Rooms  ...  CouncilArea_Moorabool Shire Council
60324      4  ...                                    0
20098      3  ...                                    0
14980      3  ...                                    0
32414      3  ...                                    0
54957      4  ...                                    0

[5 rows x 51 columns]

### 3) SelectKBestÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 20Í∞úÏùò ÌäπÏÑ±Îßå selection ÌïòÏÑ∏Ïöî
- score_func ÏóêÎäî f_regressionÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§ # api ÌôïÏù∏ÌõÑ ÌïòÍ∏∞
- **Í∞ÄÏû• Ïä§ÏΩîÏñ¥(Attributes: scores_ ÏÇ¨Ïö©)Í∞Ä ÎÜíÍ≤å ÎÇòÏò® ÌäπÏÑ±Ïùò Ïù¥Î¶ÑÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [70]:
# target(Price)ÏôÄ Í∞ÄÏû• correlated Îêú features Î•º kÍ∞ú Í≥†Î•¥Îäî Í≤ÉÏù¥ Î™©ÌëúÏûÖÎãàÎã§.
## f_regresison, SelectKBest
from sklearn.feature_selection import f_regression, SelectKBest

## selctor Ï†ïÏùòÌï©ÎãàÎã§.
selector = SelectKBest(score_func=f_regression, k=20)

## ÌïôÏäµÎç∞Ïù¥ÌÑ∞Ïóê fit_transform 
X_train_selected = selector.fit_transform(X_train, y_train)

## ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Îäî transform
X_test_selected = selector.transform(X_test)


X_train_selected.shape, X_test_selected.shape

((34012, 20), (8503, 20))

In [71]:
all_names = X_train.columns

## selector.get_support()
selected_mask = selector.get_support()

## ÏÑ†ÌÉùÎêú ÌäπÏÑ±Îì§
selected_names = all_names[selected_mask]
print('Selected names: ', selected_names)

Selected names:  Index(['Rooms', 'Type_h', 'Type_u', 'Method_SP', 'Method_VB',
       'Regionname_Northern Metropolitan', 'Regionname_Western Metropolitan',
       'Regionname_Southern Metropolitan',
       'Regionname_South-Eastern Metropolitan', 'Distance',
       'CouncilArea_Brimbank City Council',
       'CouncilArea_Stonnington City Council',
       'CouncilArea_Boroondara City Council',
       'CouncilArea_Bayside City Council', 'CouncilArea_Hume City Council',
       'CouncilArea_Manningham City Council',
       'CouncilArea_Melton City Council', 'CouncilArea_Frankston City Council',
       'CouncilArea_Whittlesea City Council',
       'CouncilArea_Wyndham City Council'],
      dtype='object')

In [ ]:
import numpy as np
array = selector.scores_

pd.DataFrame(dict(feature_names=X_train.columns,
                  scores = selector.scores_))\
                  .sort_values('scores',ascending = False)
# Ïä§ÏΩîÏñ¥Í∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÌîºÏ≥ê = Rooms

### 4) RidgeCVÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú ÌöåÍ∑ÄÎ™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî
- attributeÎäî normalize=True, cv=5Î•º ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. ÎÇòÎ®∏ÏßÄÎäî default
- **alphas = [0, 0.001, 0.01, 0.1, 1] ÏùÑ ÏãúÎèÑÌï¥Î≥¥Í≥† Í∞ÄÏû• Ï¢ãÏùÄ Ï†êÏàòÍ∞Ä ÎÇòÏò® alpha Í∞íÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [77]:
from sklearn.linear_model import RidgeCV

alphas = [0, 0.001, 0.01, 0.1, 1]

ridge = RidgeCV(alphas=alphas, normalize=True, cv=5)
ridge.fit(X_train_selected, y_train)
print("alpha: ", ridge.alpha_)
print("best score: ", ridge.best_score_)
# Í∞ÄÏû•Ï¢ãÏùÄ Ï†êÏàòÏùò alpha = 0.001

alpha:  0.001
best score:  0.5510507608242426

### 5) ÌÖåÏä§Ìä∏ÏÖãÏóê ÎåÄÌïú MAE Í∞íÏùÑ Í≥ÑÏÇ∞ÌïòÍ≥† Î™®Îç∏Ïù¥ Ïûò ÎßåÎì§Ïñ¥Ï°åÎäîÏßÄ ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ÏÖãÏóê ÎåÄÌïú MAE Í∞íÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [81]:
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.linear_model import Ridge

for alpha in [0, 0.001, 0.01, 0.1, 1]:
    print('\n')
    print(f'Ridge Regression, alpha={alpha}')

    # Ridge Î™®Îç∏ ÌïôÏäµ
    model = Ridge(alpha=alpha, normalize=True)  
    model.fit(X_train_selected, y_train)
    y_pred = model.predict(X_test_selected)

    # MAE for test
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    print(f'Test MAE: ${mae:,.0f}')
    print(f'Test R2: {r2:,.5f}')
# alpha 0.001Ïùò MAE = $262,857

Ridge Regression, alpha=0
Test MAE: $262,917
Test R2: 0.56916


Ridge Regression, alpha=0.001
Test MAE: $262,857
Test R2: 0.56914


Ridge Regression, alpha=0.01
Test MAE: $262,375
Test R2: 0.56884


Ridge Regression, alpha=0.1
Test MAE: $260,253
Test R2: 0.56217


Ridge Regression, alpha=1
Test MAE: $286,398
Test R2: 0.45906

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

### 6) best ridge regression modelÏùÑ ÎßåÎìúÏÑ∏Ïöî.
    - ÌäπÏÑ±Ïùò Í∞ØÏàòÏóê Ï†úÌïúÏù¥ ÏóÜÏäµÎãàÎã§.
    - Îã§Ìï≠ÌöåÍ∑ÄÎ•º ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî
    - Ïó¨Îü¨ ÎûåÎã§Í∞íÏùÑ ÏãúÎèÑÌïòÏÑ∏Ïöî
    - ÎûåÎã§ 0Ïù∏ Í≤ΩÏö∞Î•º ÎπÑÍµêÌïòÏÑ∏Ïöî
    - RidgeCVÎ•º ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî
    - ÎßåÎì† Î™®Îç∏Ïùò ÌäπÏßïÏùÑ Í∞ÑÎûµÌûà ÏÑ§Î™ÖÌïòÍ≥† ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ ÏÑ±Îä• Í≤∞Í≥ºÎ•º Î©îÏã†Ï†ÄÏóêÏÑú Í≥µÏú†ÌïòÏÑ∏Ïöî

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###